@import 'themes';

.card {
    height: 80px;
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.5fr 5fr 0.5fr;
    align-items: center;
    margin-top: 5px;
}

.task-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    margin-left: 2em;
    width: calc(100% - 50px);
}

.tag-priority {
    color: white;
    padding: 3px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.option {
    color: black;
    background-color: white;
}

.tag-high {
    border: 1px solid #E33939;
    background-color: $high-priority;
}

.tag-medium {
    border: 1px solid #F0BA18;
    background-color: $medium-priority;
}

.tag-low {
    border: 1px solid #20c42b;
    background-color: $low-priority;
}

.flag {
    height: 60px;
    margin-right: 1em;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.flag-high {
    border-left: 3px solid $high-priority;
}

.flag-medium {
    border-left: 3px solid $medium-priority;
}

.flag-low {
    border-left: 3px solid $low-priority;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-icon {
    color: rgb(105, 105, 105);
    cursor: pointer;
    transition: all 200ms;
}

.mat-icon:hover {
    color: $high-priority;
}

.mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-checkmark-color: #fff;
    --mdc-checkbox-selected-focus-icon-color: #009873;
    --mdc-checkbox-selected-hover-icon-color: #009873;
    --mdc-checkbox-selected-icon-color: #009873; // Bug if changed with $success
    --mdc-checkbox-selected-pressed-icon-color: #009873; 
    text-align: center;
    margin-right: 1em;
}